{% extends 'base.html.twig' %}

{% block title %}Reponse{% endblock %}

{% block body %}
    <h1>Reponse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reponse.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ reponse.date ? reponse.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Reponse</th>
                <td>{{ reponse.reponse }}</td>
            </tr>
            <tr>
                <th>IdReclamation</th>
                <td>{{ reponse.reclamation }}</td>
            </tr>
            <tr>
                <th>Utilisateur_id</th>
                <td>{{ reponse.utilisateurId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reponse_index') }}">back to list</a>

    <a href="{{ path('app_reponse_edit', {'id': reponse.id}) }}">edit</a>

    {{ include('reponse/_delete_form.html.twig') }}
{% endblock %}
