{% extends 'admin/base.html.twig' %}

{% block admin_title %}Edit Parcour{% endblock %}

{% block admin_content %}
    <div class="container-fluid">
        <h1 class="h3 mb-4">Edit Parcour "{{ parcour.trajet }}"</h1>

        <div class="card shadow">
            <div class="card-body">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }} {# Render all fields #}

                <div class="mt-4 d-flex justify-content-between align-items-center">
                    <div>
                        <button class="btn btn-primary">
                            <i class="fas fa-save"></i> {{ button_label|default('Update Parcour') }}
                        </button>
                        <a href="{{ path('app_admin_parcour_index') }}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Back to list
                        </a>
                    </div>
                    {# Place delete form here on edit page #}
                    {{ include('parcour/_delete_form.html.twig', { 'parcour': parcour, 'button_label': 'Delete', 'button_class': 'btn btn-danger' }) }}
                </div>

                {{ form_end(form) }}
            </div> {# End card-body #}
        </div> {# End card #}

    </div> {# End container-fluid #}
{% endblock %}